*{
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
}

p{ padding:10px;}

article {
    left: 35%;
    width:60%; 
    position: absolute;
}



input[name="tabla"] {position: absolute;left: -1000em;}
label{ 
    border-top-right-radius: 10px;
	display:inline-block; 
	text-align:center; 
	width:100px; 
	height:30px; 
    padding:2px 0; 
	margin:0;  
	background-color:#ededed;
	position:relative;
	top:2px;
	z-index:99;
} 

div.cont{left: 5%; float:left; opacity:0; display:none;}

input:checked+label{ border-bottom:none; background-color:white;}


@keyframes cambiaTab {   
     0%   { opacity: 0;}   
     100% { opacity: 1;}  
  }
@-webkit-keyframes cambiaTab {   
     0%   { opacity: 0;}   
     100% { opacity: 1;}  
  }

input[value="1"]:checked ~ div.contenedor div.cont:nth-child(1),
input[value="2"]:checked ~ div.contenedor div.cont:nth-child(2),
input[value="3"]:checked ~ div.contenedor div.cont:nth-child(3){
	opacity:1;
	display:block;
	-webkit-animation-name: cambiaTab; 
	-webkit-animation-duration: 1s;
	animation-name: cambiaTab; 
	animation-duration: 1s;
	}

.clearfix{ clear:both;}